@font-face {
	font-family: 'Font-Websecurify';
	src:url('fonts/Font-Websecurify.eot');
	src:url('fonts/Font-Websecurify.eot?#iefix') format('embedded-opentype'),
		url('fonts/Font-Websecurify.woff') format('woff'),
		url('fonts/Font-Websecurify.ttf') format('truetype'),
		url('fonts/Font-Websecurify.svg#Font-Websecurify') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Font-Websecurify';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="websecurify-icon-"] {
*/
.websecurify-icon-faviconxmlfuzz, .websecurify-icon-faviconwpscan, .websecurify-icon-faviconwebsecurify, .websecurify-icon-faviconscanner, .websecurify-icon-faviconrforge, .websecurify-icon-faviconretest, .websecurify-icon-faviconrest, .websecurify-icon-faviconresend, .websecurify-icon-faviconrecon, .websecurify-icon-faviconreburp, .websecurify-icon-faviconpublic, .websecurify-icon-faviconprojects, .websecurify-icon-faviconlaunch, .websecurify-icon-faviconjsonfuzz, .websecurify-icon-faviconhttpview, .websecurify-icon-faviconhaxor, .websecurify-icon-faviconfoundation, .websecurify-icon-faviconclassic, .websecurify-icon-faviconbackframe, .websecurify-icon-faviconarena {
	font-family: 'Font-Websecurify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.websecurify-icon-faviconxmlfuzz:before {
	content: "\e012";
}
.websecurify-icon-faviconwpscan:before {
	content: "\e013";
}
.websecurify-icon-faviconwebsecurify:before {
	content: "\e005";
}
.websecurify-icon-faviconscanner:before {
	content: "\e006";
}
.websecurify-icon-faviconrforge:before {
	content: "\e007";
}
.websecurify-icon-faviconretest:before {
	content: "\e008";
}
.websecurify-icon-faviconrest:before {
	content: "\e009";
}
.websecurify-icon-faviconresend:before {
	content: "\e000";
}
.websecurify-icon-faviconrecon:before {
	content: "\e001";
}
.websecurify-icon-faviconreburp:before {
	content: "\e00f";
}
.websecurify-icon-faviconpublic:before {
	content: "\e00a";
}
.websecurify-icon-faviconprojects:before {
	content: "\e00b";
}
.websecurify-icon-faviconlaunch:before {
	content: "\e00c";
}
.websecurify-icon-faviconjsonfuzz:before {
	content: "\e00d";
}
.websecurify-icon-faviconhttpview:before {
	content: "\e00e";
}
.websecurify-icon-faviconhaxor:before {
	content: "\e010";
}
.websecurify-icon-faviconfoundation:before {
	content: "\e011";
}
.websecurify-icon-faviconclassic:before {
	content: "\e002";
}
.websecurify-icon-faviconbackframe:before {
	content: "\e003";
}
.websecurify-icon-faviconarena:before {
	content: "\e004";
}
